@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.instagram {
    margin-top: 77px;

    .instagram_title {
        font-family: 'Taviraj';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #333333;
    }

    hr {
        width: 128px;
        border: 1px solid #000000;
        margin: 0;
    }

    div {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        align-content: center;

        img {
            width: calc(100% / 5);
            // height: 222px;
        }
    }
}