@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer_matoa {
    width: 100%;
    background-color: #D84727;

    .footer_matoa_block {
        width: 80%;
        padding-top: 42px;
        padding-bottom: 76px;
        margin: 0 auto;
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        // margin-top: 50px;

        img {
            margin-bottom: 24px;
            margin-top: 6px;
        }

        .info_company {
            margin-right: 30px;

            .info_company_title {
                font-family: 'Taviraj';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 34px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }

            p {
                font-family: 'Taviraj';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                padding: 0;
                margin: 0;
                margin-top: 2px;
                margin-bottom: 16px;
            }

            .info_company_hour {
                font-family: 'Taviraj';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 34px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
        }

        .contacts {
            margin-right: 60px;
            display: flex;
            flex-direction: column;

            .contacts_title {
                font-family: 'Taviraj';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }

            hr {
                width: 60px;
                background: #FFFFFF;
                border: 1px solid #FFFFFF;
                margin: 0;
                padding: 0;
            }

            .contacts_info {
                display: flex;
                justify-content: space-between;
                align-content: center;
                margin-top: 16px;
                margin-bottom: 24px;

                div {
                    display: flex;
                    flex-direction: column;
                }

                div:first-child {
                    span {
                        font-family: 'Taviraj';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 34px;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;
                    }
                }

                .contacts_info_value {
                    margin-left: 36px;

                    span {
                        font-family: 'Taviraj';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 32px;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                    }

                    span:first-child {
                        margin-bottom: 4px;
                    }

                    span:nth-child(2) {
                        margin-bottom: 36px;
                    }
                }
            }

            .contacts_icon {
                display: flex;

                img {
                    margin-right: 25px;
                }
            }
        }

        .service {
            margin-right: 70px;

            .service_title {
                font-family: 'Taviraj';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }

            hr {
                width: 60px;
                background: #FFFFFF;
                border: 1px solid #FFFFFF;
                margin: 0;
                padding: 0;
            }

            p {
                font-family: 'Taviraj';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
            }
        }
    }
}