@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.testimonials {
    margin-top: 120px;
    display: flex;

    .testimonials_view {
        margin-top: 60px;
        width: 40%;

        div:first-child{
            background-color: green;
            display: flex;
            position: relative;

            img:first-child{
                position: absolute;
                z-index: 4;
            }

            .testimonials_bg{
                position: absolute;
                z-index: 2;
                margin-left: -164px;
                margin-top: -70px;
            }
        }

        div:nth-child(2) {
            margin-top: 350px;
            display: flex;
            justify-content: flex-start;
            align-content: center;

            img {
                margin-left: 26px;
                cursor: pointer;
            }
        }
    }

    .testimonials_introduce {
        margin-left: 104px;

        .testimonials_title {
            font-family: 'Taviraj';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: 0.02em;
            color: #333333;
        }

        hr {
            margin: 0;
            width: 128px;
            border: 1px solid #000000;
        }

        p {
            margin: 0;
            margin-top: 54px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.03em;
            color: #333333;
        }

        h3 {
            font-family: 'Taviraj';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.03em;
            color: #333333;
        }

        .testimonials_note {
            font-family: 'Taviraj';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.03em;
            color: #777777;
        }
    }
}